.site-header {
  background: var(--surface);
  border-bottom: 1px solid var(--border);

  padding: 1rem 3rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 45px;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 2rem;

  list-style: none;
}

.navigation a {
  font-weight: 500;
  color: var(--text);
  transition: 0.25s;
}

.navigation a:hover {
  color: var(--primary);
}